.input {
  &__date {
    position: relative;
  }
  &__element {
    width: 188px;
    height: 70px;
    padding: 25px 20px 25px 20px;
    border-radius: 9px;
    background-color: #f3f3f7;
    border: transparent;
    cursor: pointer;

    &:focus {
      outline-width: 1px;
      outline-color: #0185ff;
    }
  }
}

.calendar {
  z-index: 10;
  width: 14px;
  position: absolute;
  top: 38%;
  right: 12.5%;
}
